ORDER_SERVER_PORT=8088
ORDER_DB_EX_PORT=5441

# Database Config
ORDER_DB_HOST=localhost
ORDER_DB_PORT=5432
ORDER_DB_NAME=orderdb
ORDER_DB_USER=postgres
ORDER_DB_PASSWORD=postgres

# Security
JWT_SECRET=OvoJeNekaDugackaTajnaSifraZaJwtKojuNeStavljamoUProperties

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
NOTIFICATION_EXCHANGE=employee.events
NOTIFICATION_QUEUE=notification-service-queue
NOTIFICATION_ROUTING_KEY=order.#

# External services
ACCOUNT_SERVICE_HOST=localhost
ACCOUNT_SERVER_PORT=8084
EMPLOYEE_SERVICE_HOST=localhost
USER_SERVER_PORT=8081
CLIENT_SERVICE_HOST=localhost
CLIENT_SERVER_PORT=8083
EXCHANGE_SERVICE_HOST=localhost
EXCHANGE_SERVER_PORT=8085
STOCK_SERVICE_HOST=localhost
STOCK_SERVICE_PORT=8090
