SERVER_PORT=8085
DOCKER_PORT=8085

# Database Config
DB_HOST=localhost
DB_PORT=5432
DB_NAME=transferdb
DB_USER=postgres
DB_PASSWORD=postgres

# Security
JWT_SECRET=OvoJeNekaDugackaTajnaSifraZaJwtKojuNeStavljamoUProperties

# Rabbitmq
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest